<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="@{~/layout/layout}">
<head>
  <title>Home Page</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/> 
<!--   <link href="../css/style.css" rel="stylesheet">    -->
</head>
<body>
  <section layout:fragment="content"> 
      <div class="mdl-grid">   
        <div class="mdl-layout-spacer"></div>    
        <section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--4dp mdl-color--white">    	
          <h1>&nbsp;Sistema de Cadastro de Usuárioswwwwwwwww&nbsp;</h1>    	
        </section>	
        <div class="mdl-layout-spacer"></div>
      </div>
  </section>
</body>
</html>